# Secrets and keys
*.pem
*.key
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# OS Files
.DS_Store
Thumbs.db
